<div align='center'>

<p id="alert"><%= alert %></p>
<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class="field">
    <div class="control-label">
    <%= label_tag :email %>
    </div>
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <div class="control-label">
    <%= label_tag :password %>
    </div>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Login", class: 'btn btn-primary btn-large' %>
  </div>
<% end %>
</div>
